<div class="row">
    <div class="col-xs-3">
        {{gravatar-image email="tomster@emberjs.com" size="200"}}
    </div>
    <div class="col-xs-3">
        {{gravatar-image size="200"}}
    </div>
</div>