<div class="container">
    <div class="jumbotron">
        <h1>
            Welcome to Ember.js
            <p>
                A framework for creating <b>ambitious</b> web applications
            </p>
        </h1>
    </div>
    {{bs-breadcrumbs}}
    {{outlet}}
</div>