<div class="jumbotron">
    <h1>Meeting Cost Calculator</h1>

    <p>
        This is simple calculator that calculates the cost of a meeting based on each attendee's salary
    </p>

    <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Start Meeting</a>
    </p>
</div>